.visionboard-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.vs-top-cont{
    display: flex;
}

.subheading{
    font-size: 1.5em;
    margin-right: 30em;
}