.checklist-title{
    text-decoration-line: underline;
    color: #996D70;
    font-size: 40px;
}
.checklist-list-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;   
}

.countdown{
    font-size: 1.7em;
}

.checklistitems-right{
    margin-left: 15em;
}

.checlist-items-left{
    margin-right: 20em;
}

.checklistitems-middle{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.checklist-bottom-cont{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left:25%; 
    margin-top: 2%; 
}

.btn-cont{
    display: flex;
}

.add-btn-cont{
    margin-right: 2em;
}
.edit-checklist-container{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-top: 2%; 
    width: 61em;
    height: 6em;
}

.item-cont{
    display: flex;
}

.top-item-cont{
    display: flex;
}

.item-name{
    margin-top: .4em;
    font-size: 1.2em;
}

.edit-item-name{
    margin-top: .8em;
    font-size: 1.2em;
}

.completed{
    margin-left: 6em;
}

.edit-completed{
    margin-left: 10em;
}

#addToDoForm{
    position: absolute;
    top: 20em;
}
.toprow{
    display: flex;
    justify-content: space-between;
}
.x{
    cursor: pointer;
}

.delete-check-btn{
    max-height: 2.3em !important;
    margin-top: 1.5em;
    margin-left: 1em;
}

.search{
    position: relative;
    top: 2em;
}

progress{
    width: 700px;
    height: 60px;
}

