.dashboard-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.right-side{
    margin-right: 20em;
}

.left-side{
    margin-top: 10em;
}

.userProfileImage{
    height:40%;
}